<div class="sectionLight">

    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <img src="assets/boy.png" style="width:200px">
                    <div class="row">
                        <div class="col-sm-12">
                            <!--<button type="button" class="btn btn-danger btn-lg btnCenter" data-toggle="modal" data-target=".kf-modal-lg" >Kickflip</button>-->
                            <label>John Smith</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <img  src="assets/girl.png">
                    <div class="row">
                        <div class="col-sm-12">
                            <!--<button type="button" class="btn btn-danger btn-lg btnCenter" data-toggle="modal" data-target=".flip-modal-md">360 Flip</button>-->
                            <label>Emily Richard</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <img  src="assets/boy2.png">
                    <div class="row">
                        <div class="col-sm-12">
                            <!--<button type="button" class="btn btn-danger btn-lg btnCenter" data-toggle="modal" data-target=".bscrook-modal-sm">BS Crook</button>-->
                            <label>Tom Johnson</label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <img src="assets/girl2.png" style="width:200px">
                    <div class="row">
                        <div class="col-sm-12">
                            <!--<button type="button" class="btn btn-danger btn-lg btnCenter" data-toggle="modal" data-target=".kf-modal-lg" >Kickflip</button>-->
                            <label>Ema Green</label>
                        </div>
                    </div>
                </div>
                <!--<div class="col-sm-12 col-lg-4">-->
                    <!--<img  src="assets/girl.png">-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-12">-->
                            <!--&lt;!&ndash;<button type="button" class="btn btn-danger btn-lg btnCenter" data-toggle="modal" data-target=".flip-modal-md">360 Flip</button>&ndash;&gt;-->
                            <!--<label>Emily Richard</label>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-12 col-lg-4">-->
                    <!--<img  src="assets/boy2.png">-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-12">-->
                            <!--&lt;!&ndash;<button type="button" class="btn btn-danger btn-lg btnCenter" data-toggle="modal" data-target=".bscrook-modal-sm">BS Crook</button>&ndash;&gt;-->
                            <!--<label>Tom Johnson</label>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>

        </div>
    </div>
</div>